* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.main_header {
    overflow-x: hidden;
    height: 70px;
    background-color: #0b103b;
    position: sticky;
    top: 0px;
    box-shadow: 0.5px 0.5px 10px black;
    width: 100%;
    z-index: 3;

}

.navbar {
    height: 70px;
    /* padding-top: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 30px;
}

.logo {
    display: flex;
    gap: 10px;
    /* background-color: aqua; */
    flex-basis: 350px;
}

.logo img {
    margin-top: 10px;
    height: 30px;
    width: 30px;

}

.school_name {
    font-weight: bold;
    padding-top: 14px;
    color: white;
    font-size: 7px;

}

.school_name #inst_type {
    color: #FFFF56;
}


.navbar .menu_list {
    display: none;
}

.navbar .menu_list ul {
    list-style: none;
    margin-top: 15px;
    height: inherit;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-self: end;
    font-weight: bold;


}

.navbar .menu_list ul li a {

    color: #FFFF56;
    text-decoration: none;
    transition-duration: 0.5s;
}

.navbar .menu_list ul li a:hover {
    color: white;
    font-size: 15px
}

.menu-icon {
    margin-top: 15px;
    width: 50px;
    height: 50px;
    z-index: 5;
    display: flex;
    flex-direction: column;

}

.menu-icon .menu-icon-bar {
    height: 3px;
    width: 30px;
    background-color: #FFFF56;
    margin-bottom: 5px;
    border-radius: 10px;
}







.slide_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url(./images/Pivot-Point-Family-Growth-Centre-Benefits-of-Smaller-Class-Sizes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;

}



.slide_container H2 {
    color: WHITE;
    font-size: 15PX;
    font-weight: bolder;
    text-align: center;

}

.slide_container p {
    color: #ffffff;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
}

.admission_notice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0b103b;
    height: 100px;
    overflow: hidden;
}

.admission_notice h2 {
    font-size: 13px;

    color: #FFFF56;
    text-align: center;

}

.admission_notice button {
    height: 40px;
    width: 140px;
    border: solid #FFFF56 2px;
    background-color: #0b103b;

    border-radius: 30px;
    align-self: center;
    margin-top: 10px;

}


.admission_notice button a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
}

.main {
    margin: 0px 5%;

    display: block;

}

.main h2 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #0b103b;
    margin-bottom: 40px;
}



.about_us {
    margin-bottom: 100px;
}

.about_msg {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
}

.headmistress_image {
    width: 250px;
    height: 200px;
    margin: 20px;
    background-color: #0b103b;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-image: url(./images/NEWPRINCIPAL.jpg);
    background-repeat: no-repeat;
    align-self: center;
}

.about_text {
    width: 100%;
    color: black;
    text-align: justify;
    line-height: 30px;

}



.mission_vision {

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 90px;
    margin-bottom: 100px;
}

.mission_vision img {
    height: 80px;
    width: 80px;
}

.mission_vision h2 {
    text-align: center;

}

.mission_vision .Mission {
    overflow: hidden;
    padding: 20px;
    height: 250px;
    width: 250px;
    color: black;
    border-radius: 20px;
    align-self: center;
    box-shadow: 3px 3px 10px #0b103b;
    font-weight: bold;
    text-align: center;
}

.Vision p,
.Mission p {
    position: relative;
    top: 10px;
    /* padding: 10px; */
}

.mission_vision h3 {
    margin-top: 20px;
    font-size: 35px;
}

.mission_vision .Vision {
    overflow: hidden;
    z-index: 1;
    padding: 20px;
    height: 250px;
    width: 250px;
    color: black;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 3px 3px 10px #0b103b;
    align-self: center;
    font-weight: bold;
    text-align: center;
}


/*this section describes the core values sesction of the home page*/


.core_values {
    /* margin: 30px 0px; */
    color: black;

    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}

.core_values img {
    height: 80px;
    width: 80px;
}

.core_values .value {

    margin: 10px;
    font-weight: bold;
    height: 300px;
    width: 200px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 3px 3px 10px #0b103b;
    overflow: hidden;

}



.core_values h3 {
    padding: 3px 0px;
    position: relative;
    top: 10px;
    font-size: 25px;
    color: #0b103b;
}

.core_values p {
    position: relative;
    top: 20PX;
}

.why_star_of_the_east {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: auto;
    margin-bottom: 100px;
    background-color: #FFFF56;
}


.why_star_of_the_east .reason {
    width: 70%;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
    align-self: center;


}

.why_star_of_the_east .reason .num1,
.num2,
.num3,
.num4,
.num5 {
    width: 80px;
    height: auto;
    background-color: #0b103b;
    border-radius: 40px 0px 0px 40px;
}

.why_star_of_the_east .reason .num1,
.num2,
.num3,
.num4,
.num5 {
    padding-top: 5px;
    font-weight: bolder;
    font-size: 50px;
}

.why_star_of_the_east .reason .reason1,
.reason2,
.reason3,
.reason4,
.reason5 {
    overflow: hidden;
    width: 100%;
    height: auto;
    background-color: #0b103b;
    margin-left: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 0px 40px 40px 0px;
    font-size: large;
}

.move_to_top {
    height: 40px;
    width: 40px;
    background-color: #0b103b;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    right: 0px;
}

.move_to_top a {
    color: white;
    text-decoration: none;
}

footer {
    height: auto;
    background-color: #0b103b;
    width: 100%;
    z-index: 1;
    overflow-x: hidden;
    position: relative;


}

.inner_footer {
    padding: 20px 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;



}


.inner_footer .school_name #inst_type {
    color: #FFFF56;
}

.inner_footer h4 {
    line-height: 30px;
    font-size: 12px;
}

.inner_footer .school_contact_info .logo {
    align-self: center;
}

.inner_footer .school_links .navs ul {
    list-style: none;
    line-height: 30px;

}

.inner_footer .school_links .navs ul a {
    text-decoration: none;
    color: white;
}

.inner_footer .social_links {
    display: flex;
    gap: 10px;
    /* margin-top: 5px; */
}

.inner_footer .school_links h4 {
    color: yellow;
    /* margin-top: 20px; */
}

.inner_footer .social_links a {
    text-decoration: none;
    color: white;
}

.copyright_info {
    text-align: center;
}



/*this is for page resizing when the max width of the screen is that of a phone and other small screened devices*/
@media only screen and (min-width: 829px) {
    .main_header {
        height: 90px;
    }

    .navbar .menu_list {
        display: block;
        font-size: 10px;

    }

    .menu-icon {
        display: none;
    }


    .logo img {
        margin-top: 10px;
        height: 50px;
        width: 50px;
    }

    .school_name {
        font-weight: bold;
        padding-top: 15px;
        color: white;
        font-size: 15px;
    }



    .slide_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 550px;
        background-image: url(./images/Pivot-Point-Family-Growth-Centre-Benefits-of-Smaller-Class-Sizes.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;

    }



    .slide_container H2 {
        color: WHITE;
        font-size: 45PX;
        font-weight: bolder;
        text-align: center;

    }

    .slide_container p {
        color: #ffffff;
        font-weight: bolder;
        font-size: 25px;
        text-align: center;
    }

    .admission_notice {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #0b103b;
        height: 100px;
        overflow: hidden;
    }

    .admission_notice h2 {
        font-size: 25px;
        color: #FFFF56;
        text-align: center;
        align-self: center;

    }

    .admission_notice button {
        height: 40px;
        width: 140px;
        border: solid #FFFF56 2px;
        background-color: #0b103b;
        border-radius: 30px;
        align-self: center;

    }


    .admission_notice button:hover {
        height: 40px;
        width: 140px;
        border: solid #FFFF56 2px;
        background-color: #0b103b;
        border-radius: 30px;
        align-self: center;

    }

    .main h2 {
        text-align: center;
        font-size: 45px;
        font-weight: bold;
        color: #0b103b;
        margin-bottom: 40px;
    }


    .about_msg {
        display: flex;
        flex-direction: row;
    }

    .headmistress_image {
        width: 400px;
        height: 400px;
        margin: 20px;
        align-self: auto;

    }



    .mission_vision {

        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 90px;
        margin-bottom: 100px;
    }



    .inner_footer {

        flex-direction: row;


    }


}