* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main_header {

    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 90px;
    background-color: #0b103b;
    position: sticky;
    top: 0px;
    z-index: 3;

}

.navbar {

    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 100%;



}

.navbar .logo {
    display: flex;
    gap: 0.5em;

}

.navbar .logo img {
    margin-top: 15px;
    height: 50px;
    width: 50px;
}

.navbar .school_name {
    font-weight: bold;
    padding-top: 18px;
    width: 300px;
    display: block;
    color: white;

}

.navbar .school_name #inst_type {
    color: #FFFF56;
}


.menu_list {}

.navbar .menu_list ul {
    list-style: none;
    margin-top: 15px;
    height: inherit;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: bold;


}

.navbar .menu_list ul li a {

    color: #FFFF56;
    text-decoration: none;
    transition-duration: 0.5s;
}

.navbar .menu_list ul li a:hover {
    color: white;
    font-size: 15px
}

.slide_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 700px;
    background-color: green;
    background-image: url(./images/Pivot-Point-Family-Growth-Centre-Benefits-of-Smaller-Class-Sizes.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}



.slide_container H2 {
    color: WHITE;
    font-size: 50PX;
    /* padding-top: 200PX; */
    font-weight: bolder;
    text-align: center;

}

.slide_container p {
    color: #ffffff;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

.admission_notice {
    display: flex;
    justify-content: center;
    background-color: #0b103b;
    height: 100px;

}

.admission_notice h2 {
    font-size: 2rem;
    padding: 25px;
    color: #FFFF56;
}

.admission_notice button {
    height: 50px;
    width: 140px;
    border: solid #FFFF56 2px;
    background-color: #0b103b;
    margin: 30px 30px;
    border-radius: 30px;

}


.admission_notice button a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}

.main {
    position: relative;
    margin: 0px 10%;

}

.main h2 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #0b103b;
    margin-bottom: 40px;
}

#about_us {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #0b103b;
}

.about_us {
    margin-bottom: 100px;
}

.about_msg {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.headmistress_image {
    width: 500px;
    height: 500px;
    margin: 20px;
    background-color: #0b103b;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-image: url(./images/NEWPRINCIPAL.jpg);
    background-repeat: no-repeat;
}

.about_text {
    margin: 25px 0px 0px 20px;
    width: 100%;
    color: black;
    text-align: justify;
    line-height: 30px;

}

/* #mission_vision {
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    color: #0b103b;
} */

.mission_vision {

    color: white;
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-bottom: 200px;
}

.mission_vision img {
    height: 80px;
    width: 80px;
}

.mission_vision h2 {
    text-align: center;

}

.mission_vision .Mission {
    padding: 20px;
    height: 300px;
    width: 300px;
    color: black;
    border-radius: 20px;
    margin: 10px;
    /* box-shadow: 5px 5px 10px rgb(88, 86, 86); */
    box-shadow: 3px 3px 10px #0b103b;

    font-weight: bold;
    text-align: center;
    z-index: 1;
}

.Vision p,
.Mission p {
    position: relative;
    top: 20px;
}

.mission_vision h3 {
    margin-top: 20px;
    font-size: 35px;
}

.mission_vision .Vision {
    z-index: 1;
    padding: 20px;
    height: 300px;
    width: 300px;
    color: black;
    border-radius: 20px;
    margin: 10px;
    /* box-shadow: 5px 5px 10px rgb(88, 86, 86); */
    box-shadow: 3px 3px 10px #0b103b;

    font-weight: bold;
    text-align: center;
}


/*this section describes the core values sesction of the home page*/

/* #core_values {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #0b103b;
} */

.core_values {
    /* margin: 30px 0px; */
    color: black;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.core_values img {
    height: 80px;
    width: 80px;
}

.core_values .value {
    margin-right: 60px;
    margin-bottom: 30px;
    font-weight: bold;
    height: 300px;
    width: 200px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 3px 3px 10px #0b103b;

}



.core_values h3 {
    padding: 3px 0px;
    position: relative;
    top: 10px;
    font-size: 25px;
    color: #0b103b;
}

.core_values p {
    position: relative;
    top: 20PX;
}

.why_star_of_the_east {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: 850px;
    margin-bottom: 0px;
}


.why_star_of_the_east .reason {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;


}

.why_star_of_the_east .reason .num1,
.num2,
.num3,
.num4,
.num5 {
    width: 120px;
    height: 150px;
    background-color: #0b103b;
    border-radius: 40px 0px 0px 40px;
}

.why_star_of_the_east .reason .num1,
.num2,
.num3,
.num4,
.num5 {
    padding-top: 25px;
    font-weight: bolder;
    font-size: 80px;
}

.why_star_of_the_east .reason .reason1,
.reason2,
.reason3,
.reason4,
.reason5 {
    width: 100%;
    height: 150px;
    background-color: #0b103b;
    margin-left: 10px;
    text-align: center;
    padding-top: 50px;
    border-radius: 0px 40px 40px 0px;
    font-size: large;
}

.move_to_top {
    height: 40px;
    width: 40px;
    background-color: #0b103b;

    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    right: 0px;
}

.move_to_top a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #0b103b;
    display: flex;
    height: 600px;
    width: 100%;
    margin-top: 50px;
}

.inner_footer {
    margin: 40px 10% 0px 10%;
    padding: 20px 0px;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 600px;
    width: 100%;
}

.inner_footer .logo {
    display: flex;
    gap: 0.5em;
    flex-grow: 0;
    flex-shrink: 1;
}

.inner_footer .logo img {
    margin-top: 15px;
    height: 50px;
    width: 50px;
}

.inner_footer .school_name {
    font-weight: bold;
    padding-top: 18px;
    width: 300px;
    display: block;
    color: white;

}

.inner_footer .school_name #inst_type {
    color: #FFFF56;
}

.inner_footer h4 {
    line-height: 30px;
}

.inner_footer .school_links .navs ul {
    list-style: none;
    line-height: 30px;

}

.inner_footer .school_links .navs ul a {
    text-decoration: none;
    color: white;
}

.inner_footer .social_links {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.inner_footer .school_links h4 {
    color: yellow;
    margin-top: 20px;
}

.inner_footer .social_links a {
    text-decoration: none;
    color: white;
}