.mainn {
    width: 100%;
    height: auto;

}

.slide_container {

    background-image: url(../images/admission.webp);


}


.slide_container button {
    height: 50px;
    width: 140px;
    border: solid #FFFF56 2px;
    background-color: transparent;
    margin: 30px 30px;
    border-radius: 30px;
    color: white;
    align-self: center;
    font-weight: bolder;
    font-size: 18PX;
    cursor: pointer;

}


.slide_container button:hover {
    background-color: #0b103b;
    color: yellow;
    border: white solid 2px;
    transition: 0.5s;
}


.admission_steps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


}

.admission_steps .step h1 {
    font-size: 80px;
}

.admission_steps .step {
    margin: 20px;
    background-color: #0b103b;
    width: 300PX;
    height: auto;
    color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #0b103b;

}