.mainn {
    width: 100%;
    height: 100px;
}

.slide_container {

    background-image: url(../images/aumni-board-header.png);



}

.slide_container button {}

.slide_container button:hover {
    background-color: #0b103b;
    color: yellow;
    border: white solid 2px;
    transition: 0.5s;
}