.mainn {
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

.slide_container {

    background-image: url(../images/transformacion_digital_dominion.jpg);


}

.slide_container button {}

.mainn {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.mainn h2 {
    text-align: left;

}

.contact_media {
    overflow: hidden;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    gap: 50px;
    flex-wrap: wrap;
}

.contact_details {
    margin: 10px;
}

.contact_form {
    width: 400px;
    height: auto;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(4, 4, 60);
    padding: 20px;
    margin: 30px 5px;

}

.contact_form #title {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact_form h5 {
    font-weight: bolder;
    margin-bottom: 3px;
}

.contact_form p {
    margin-bottom: 10px;
}

.contact_form input {
    width: 100%;
    height: 25px;
}

.contact_form button {
    margin-top: 30px;
    background-color: #0b103b;
    color: #FFFF56;
    height: 25px;
    width: 100px;
    border: opx solid;
    border-radius: 10px;

}