.mainn {
    width: 100%;
    height: 900px;
}

.slide_container {

    background-image: url(../images/Neews.jpg);

}

.slide_container button {}

.slide_container button:hover {
    background-color: #0b103b;
    color: yellow;
    border: white solid 2px;
    transition: 0.5s;
}

H1 {
    margin-top: 70px;
    text-align: center;
    font-size: 30PX;
}

.mainn {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    margin-bottom: 30px;
}

.mainn .news_pallet {
    height: auto;
    width: 100%;
    border: 1px solid #0b103b;
    border-radius: 20px;
    padding: 10px;
    margin: 20px 0px;
    box-shadow: 1px 1px 10px #0b103b;
    background-color: #f0f1f4;

}



.mainn .news_pallet .news_header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}

.mainn .news_pallet img {
    width: 40px;
    height: 40px;

}

.mainn .news_pallet h3 {
    padding-top: 10px;
    font-size: 15px;
    color: #2b3380;

}

.mainn .news_pallet p {
    color: #0b103b;
    line-height: 25px;
    text-align: justify;
    font-weight: bold;
}